<div class= "background_image">
  <div class="form-container">
<!--  <div class="clock">-->
<!--    <div id="hour">00</div>-->
<!--    <span>:</span>-->
<!--    <div id="minute">00</div>-->
<!--    <span>:</span>-->
<!--    <div id="seconds">00</div>-->

<!--  </div>-->

<!--<div>-->
<!--  <a href="https://logwork.com/clock-widget/" class="clock-widget-text" data-timezone="Asia/Colombo" data-language="en" data-textcolor="#ff254a" data-digitscolor="#ff254a">Sri Lanka</a>-->
<!--</div>-->

<div> <p class="p1">{{ displayTime }}</p></div>
    <div><p class="p2">SRI LANKA</p></div>




  </div>
</div>
